<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.CodeMapper">

    <select id="querycodeByName" resultType="com.icss.newretail.model.UserDictDTO" >
        SELECT
        a.uuid,a.`code`,a.`value`,a.`status`,a.dict_id
        FROM
        `t_user_dict_value` a
        where 1=1 and a.status='1'
        <if test="code.uuid != null and code.uuid != ''">
           and  a.dict_id =#{code.uuid}
        </if>
        <if test="code.code != null and code.code != ''">
            and  a.code like CONCAT('%',#{code.code},'%')
        </if>
        <if test="code.value != null and code.value != ''">
            and a.value like CONCAT('%',#{code.value},'%')
        </if>
    </select>

    <update id="deleteCode" parameterType="string">
        update t_user_dict set status = 0 where uuid = #{uuid}
    </update>

    <select id="querycode" resultType="com.icss.newretail.model.UserDictDTO">
        SELECT
            a.uuid,a.`code`,a.`name`,a.`status`
        FROM
            `t_user_dict` a
        where 1=1 and a.status='1'
        <if test="code.uuid != null and code.uuid != ''">
            and  a.uuid =#{code.uuid}
        </if>
        <if test="code.code != null and code.code != ''">
            and  a.code like CONCAT('%',#{code.code},'%')
        </if>
        <if test="code.name != null and code.name != ''">
            and a.name like CONCAT('%',#{code.name},'%')
        </if>
    </select>

</mapper>
