<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.DeviceTypeMapper">
    <!--<delete id="deleteDeviceType" parameterType="string">
       DELETE FROM t_user_device_type
       WHERE device_type=#{deviceType}
   </delete>-->

    <select id="queryDeviceTypeById" parameterType="string" resultType="com.icss.newretail.model.DeviceTypeDTO">
        SELECT aa.*,COUNT(c.device_store) storeAmount FROM
        (SELECT a.device_type,a.device_type_name,a.tenant_id,a.create_time,a.create_user,a.update_time,a.update_user,
        COUNT(b.device_type) deviceAmount
        FROM t_user_device_type a LEFT JOIN t_user_store_device b ON a.device_type=b.device_type
        GROUP BY b.device_type HAVING a.tenant_id=#{tenantId}) AS aa
        LEFT JOIN t_user_store_device c ON aa.device_type=c.device_type
        GROUP BY aa.device_type
        HAVING aa.device_type = #{deviceType}
    </select>

    <select id="queryDeviceTypes" parameterType="string" resultType="com.icss.newretail.model.DeviceTypeDTO">
        SELECT aa.*,COUNT(c.device_store) storeAmount FROM
        (SELECT a.device_type,a.device_type_name,a.tenant_id,a.create_time,a.create_user,a.update_time,a.update_user,
        COUNT(a.device_type) deviceAmount
        FROM t_user_device_type a LEFT JOIN t_user_store_device b ON a.device_type=b.device_type
        GROUP BY a.device_type) AS aa
        LEFT JOIN t_user_store_device c ON aa.device_type=c.device_type
        GROUP BY aa.device_type
        <if test="deviceTypeName!=null and deviceTypeName!=''">
            HAVING aa.device_type_name LIKE CONCAT('%',#{deviceTypeName},'%')
        </if>
    </select>

</mapper>