<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.GrantPasswordMapper">
    <select id="getGrantUserList" parameterType="String" resultType="com.icss.newretail.model.GrantUserDTO">
        SELECT A.uuid, A.ORG_SEQ as orgSeq, A.user_id as userId, A.discount,
               B.employee_no as employeeNo, B.user_name userName, B.tel,B.password
        FROM T_USER_GRANT_PASSWORD A
        LEFT JOIN T_USER_INFO B ON A.USER_ID = B.USER_ID AND B.STATUS = 1
        WHERE 1=1 AND A.ORG_SEQ = #{orgSeq} AND A.STATUS = 1
    </select>
    
    <select id="getGrantPassword" parameterType="String" resultType="com.icss.newretail.model.GrantUserDTO">
        SELECT A.uuid, A.org_seq, A.user_id, A.discount,
               B.employee_no, B.user_name, B.tel, B.password
        FROM T_USER_GRANT_PASSWORD A
        LEFT JOIN T_USER_INFO B ON A.USER_ID = B.USER_ID AND B.STATUS = 1
        WHERE 1=1 AND A.ORG_SEQ = #{orgSeq} AND A.USER_ID = #{userId} AND A.STATUS = 1
        LIMIT 1
    </select>
    
</mapper>
