<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.InitMapper">
    <insert id="initApp" parameterType="String">
      INSERT INTO t_user_app(app_id, app_name, app_number, app_desc, tenant_id, create_time, create_user, update_time, update_user) VALUES
      (CONCAT('APP000001',#{tenantId}), '平台管理系统', 1.00, '1', #{tenantId}, NOW(), 'admin',  NOW(), 'admin'),
      (CONCAT('APP000002',#{tenantId}), '门店零售经营系统', 2.00, '2', #{tenantId},  NOW(), 'admin',  NOW(), 'admin'),
      (CONCAT('APP000005',#{tenantId}), '连锁经营管理系统', 3.00, '3', #{tenantId},  NOW(), 'admin',  NOW(), 'admin');
    </insert>

    <insert id="initModule" parameterType="String">
        INSERT INTO t_user_module(module_id, module_name, module_number, module_desc, tenant_id, create_time, create_user, update_time, update_user) VALUES
        (CONCAT('MP000000001',#{tenantId}), '应用资源', 1.00, '1', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000002',#{tenantId}), '角色用户', 2.00, '2', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000004',#{tenantId}), '报表中心', 6.00, '5', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000005',#{tenantId}), '促销中心', 3.00, '5', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000006',#{tenantId}), '会员中心', 2.00, '6', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000007',#{tenantId}), '发布中心', 4.00, '7', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000008',#{tenantId}), '商品中心', 1.00, '9', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000009',#{tenantId}), '基础管理', 5.00, '10', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000011',#{tenantId}), '采购管理', 1.00, '11', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000012',#{tenantId}), '调拨管理', 2.00, '12', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000015',#{tenantId}), '连锁管理', 4.00, '15', #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
        (CONCAT('MP000000017',#{tenantId}), '库存管理', 3.00, '17', #{tenantId}, NOW(), 'admin', NOW(), 'admin');
    </insert>

    <insert id="initAppModuleRelation" parameterType="String">
      INSERT INTO t_user_app_module_relation(app_module_relation_id, app_id, module_id, module_number, tenant_id, create_time, create_user, update_time, update_user) VALUES
(UUID(), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000002',#{tenantId}), 2.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), 5.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), 6.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000003',#{tenantId}), CONCAT('MP000000010',#{tenantId}), 7.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), 17.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000016',#{tenantId}), 16.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), 8.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), 13.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), 12.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000014',#{tenantId}), 14.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), 15.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), 11.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), 9.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), 10.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000001',#{tenantId}), 1.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000003',#{tenantId}), 3.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin'),
(UUID(), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), 4.00, #{tenantId}, NOW(), 'admin', NOW(), 'admin');
    </insert>

    <insert id="initMenu" parameterType="String">
INSERT INTO t_user_menu(menu_id, app_id, module_id, resource_name, resource_req, up_resource_req, resource_level, resource_url, resource_logo, resource_desc, status, is_default_display, is_base_menu, is_home_page, is_privilege_control, resource_number, app_module_relation_id, create_user, create_time, update_user, update_time, tenant_id) VALUES
(CONCAT('083630015',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), '门店监控', '104032', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('083725585',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), '客流统计', '104032001', '104032', 2, '/passengerStatistics', NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('102-162650ad1e5-c2244ee960668c7ffb470300f7f634cc',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000002',#{tenantId}), '用户角色管理', '102001', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('16e819-1651c6d3b3f-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), '促销卡券', '105001', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('16e819-1651c70b9c4-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), '卡券创建', '105001001', '105001', 2, '/createCardList', '/createCardList', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('18430a5-15e838f1f58-aed578c6343b4e56d1e90d75d41a7a2a',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000002',#{tenantId}), '用户管理', '102001001', '102001', 2, '/accountList', '/accountList', '', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('18430a5-15e8390479b-aed578c6343b4e56d1e90d75d41a7a2a',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000002',#{tenantId}), '角色管理', '102001002', '102001', 2, '/roleList', '/roleList', '/RetailManageWeb/static/roleManage/roleListPage.jsp', 1, 1, 1, 0, 0, 1.00, NULL, 'admin', NOW(), 'u1', NOW(), #{tenantId}),
(CONCAT('18bf7c1f-167785ff43c-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '调入查询（公司）', '114006002', '114006', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('18bf7c1f-167786095b1-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '调出查询(公司)', '114006003', '114006', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('18bf7c1f-16778618847-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '进销存查询(公司)', '114006005', '114006', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('18e1f2c-1671bfd03b8-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), '促销赠品管理', '105002002', '105002', 2, '/giftProducts', '/giftProducts', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1a52f3e-1653c6f218b-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员档案', '106001', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1a52f3e-1653c6fe7fc-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员信息', '106001001', '106001', 2, '/memberInfo', '/memberInfo', '/RetailManageWeb/static/memberInfo/memberInfoList.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1c32dbf4-1667bcc67cf-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '内容制作', '108001004', '108001', 2, '/contentset', '/contentset', '/RetailManageWeb/static/poster/posterList.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1d00e04-1674f290543-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '终端广告', '108008', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1d00e04-1674f2ca956-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '屏保广告', '108008003', '108008', 2, '/screenimg', '/screenimg', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1dfdec4-166f0e1178a-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品价签', '110001004', '110001', 2, '/goodsPriceTag', '/goodsPriceTag', '/RetailManageWeb/static/goods/priceTag/goodsPriceTag.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('1dfdec4-166f0e187ac-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商城商品目录', '110001012', '110001', 2, '/goodsOfShopShelf', '/goodsOfShopShelf', '/RetailManageWeb/static/goods/goodsOfShopShelf.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('201812141908',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '组合商品管理', '110006', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('23158d61-1678314f592-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '供应商比价', '116007005', '116007', 2, '/compareprice', '/compareprice', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('23d318c5-1667bccc816-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '内容发布', '108001005', '108001', 2, '/contentpublish', '/contentpublish', '/RetailManageWeb/static/adSpace/adSpaceUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('27cac296-16763a6893a-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '进销存查询(公司级)', '114006', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebe4ef0b-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '要货管理', '112001', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebe57dd6-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调出管理', '113003', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebe60270-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调入管理', '113004', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebeb26eb-490b566f414bb26e43e571fb8a6990012',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '采购入库确认', '112002004', '112002', 2, '/toAuditList', '/toAuditList', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebeb26eb-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '采购单查询', '112002003', '112002', 2, '/warehousingsearch', '/warehousingsearch', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebeeadca-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调入单确认', '113004001', '113004', 2, 'confirmInputOrder', 'confirmInputOrder', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebf0c1c5-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '进销存查询(部门级)', '114005', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebf120ca-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '购进查询', '114005001', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebf3f697-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '调入查询', '114005002', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ebf4da9f-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '损溢查询', '114005004', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ec00f7f5-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '供应商管理', '116007', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ec01467d-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '供应商查询', '116007001', '116007', 2, '/filemanage', '/filemanage', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2a101848-166ec023153-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '退货管理', '112008', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2b3d51-1673ac32b6f-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '商品档案', '116008', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2b3d51-1673ac3a3ba-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '连锁价格管理', '116008001', '116008', 2, '/chainprice', '/chainprice', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2c73e1-16565656437-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员积分管理', '106002', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2c73e1-1656565b542-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员积分规则', '106002002', '106002', 2, '/integralrule', '/integralrule', '/RetailManageWeb/static/integralRules/rulesEditor.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2c73e1-1656566b22b-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员等级规则', '106001002', '106001', 2, '/membergrade', '/membergrade', '/RetailManageWeb/static/integralRules/vipLevelEditor.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2e3fa6a5-166e7d88abe-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '价格管理', '110002', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2e3fa6a5-166e87dceda-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), '商品类编码', '111001', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2e3fa6a5-166e87f644b-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), '计量单位', '111001002', '111001', 2, '/productUnit', '/productUnit', '/RetailManageWeb/static/product/productUnit.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2e3fa6a5-166e88fb509-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), '基础设置', '111003', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('2e3fa6a5-166e89794bc-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), '组织编码', '111002001', '111002', 2, '/anlaOrga', '/anlaOrga', '/RetailManageWeb/static/organizationcode/anlaOrga.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e7bb8f1a-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品管理', '110001', '', 1, '', '', '/RetailManageWeb/static/goods/goodsClassiUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e7d2544c-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品管理', '110001001', '110001', 2, '/productList', '/productList', '/RetailManageWeb/static/goods/goodsClassiUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e7d2f1e8-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '包装管理', '110001002', '110001', 2, '/packagmanage', '/packagmanage', '/RetailManageWeb/static/product/toProductPackage.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e7d8e9d8-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品价格管理', '110002001', '110002', 2, '/proPriceList', '/proPriceList', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e7d8e9d8-490b566f414bb26e43e571fb8a699bfc',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '门店商品价格管理', '110002002', '110002', 2, '/shopProPriceList', '/shopProPriceList', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('332982e6-166e87e3817-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000009',#{tenantId}), '组织类编码', '111002', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('3891914d-16667ba45cb-40f45ba170827f8c43d15dc73b694fd5',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '设备注册', '108005001', '108005', 2, 'device/deviceUI.html', NULL, '/RetailManageWeb/static/device/deviceUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('3891914d-16667ba45cb-40f45ba170827f8c43d15dc73b694fd6',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000007',#{tenantId}), '设备分类', '108005002', '108005', 2, 'device/deviceTypeManage.html', NULL, '/RetailManageWeb/static/device/deviceTypeManage.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('3afd89-1673951bc86-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), '日进销存', '104030010', '104030', 2, 'saleBuyDay', 'saleBuyDay', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('491055ba-16705f47492-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000015',#{tenantId}), '供货范围设置', '116007002', '116007', 2, '/setsupply', '/setsupply', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('4b59c18b-16707661402-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '组合商品', '110006005', '110006', 2, '/compogoodsplan', '/compogoodsplan', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec16f6a',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000001',#{tenantId}), '资源管理', '101002', '', 1, '', NULL, '', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), 'u1', NOW(), #{tenantId}),
(CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec1qqqq',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000001',#{tenantId}), '组织编码', '101002001', '', 2, '', '/anlaOrga', '', 1, NULL, 1, 1, NULL, NULL, NULL, 'admin', NOW(), 'u1', NOW(), #{tenantId}),
(CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec1rrrr',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000001',#{tenantId}), '指标编码', '101002002', '', 2, '', NULL, '', 1, NULL, 1, 1, NULL, NULL, NULL, 'admin', NOW(), 'u1', NOW(), #{tenantId}),
(CONCAT('56435a-15e2c0d2ce6-a831a394da647e4079063d7dbec16f6a',#{tenantId}), CONCAT('APP000001',#{tenantId}), CONCAT('MP000000001',#{tenantId}), '应用资源', '101002001', '101002', 2, '/explain', '/explain', '', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), 'u1', NOW(), #{tenantId}),
(CONCAT('5a48302e-167785f5909-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '购进查询(公司)', '114006001', '114006', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('5a48302e-16778610f75-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '损溢查询(公司)', '114006004', '114006', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('6006ef48-1679aee5cda-490b566f414bb26e43e571fb8a699b21',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000006',#{tenantId}), '会员积分', '106002001', '106002', 2, '/vipScoreList', '/vipScoreList', '/RetailManageWeb/static/score/vipScoreList.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('6266d38c-167ac51cc9d-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品品牌管理', '110001010', '110001', 2, '/goodsBrand', '/goodsBrand', '/RetailManageWeb/static/goods/goodsBrandUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('6266d38c-167ac51cc9d-490b566f414bb26e53e571fb8a699b7f',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000008',#{tenantId}), '商品分类管理', '110001011', '110001', 2, '/productType', '/productType', '/RetailManageWeb/static/goods/goodsBrandUI.jsp', 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('900000047',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), '进销存查询', '104030', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('900000058',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000004',#{tenantId}), '月进销存', '104030003', '104030', 2, 'saleBuyMonth', 'saleBuyMonth', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('9858e1-165324c06aa-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), '促销活动', '105002', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('9858e1-165324c5998-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000002',#{tenantId}), CONCAT('MP000000005',#{tenantId}), '促销活动管理', '105002001', '105002', 2, '/promotionProgram', '/promotionProgram', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('a71d09-1679c78ecd6-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), '库存管理', '116010', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('a71d09-1679c78ecd6-79974a2ec6a6d0024fffe00b30db7144',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), '损溢管理', '116009', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('a71d09-1679c7985f4-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), '实时库存', '116010001', '116010', 2, '/toProCityInve', '/toProCityInve', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebe52b8d-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '采购管理', '112002', '', 1, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebe90463-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '要货计划', '112001001', '112001', 2, '/requireplan', '/requireplan', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebe95f41-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '计划审核', '112001002', '112001', 2, '/plansee', '/plansee', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebe9c06f-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000011',#{tenantId}), '采购单生成', '112002001', '112002', 2, '/toBuyOrderMake', '/toBuyOrderMake', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebec0c41-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调拨单生成', '113003001', '113003', 2, 'createAllocation', 'createAllocation', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebed21b1-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调拨单查询', '113003003', '113003', 2, 'queryAllocation', 'queryAllocation', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf00e6e-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000012',#{tenantId}), '调入单查询', '113004002', '113004', 2, 'queryInputOrder', 'queryInputOrder', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf441f6-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '调出查询', '114005003', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf5477b-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '库存查询', '114005005', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf5e87b-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000013',#{tenantId}), '进销存查询', '114005006', '114005', 2, NULL, NULL, NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf73f8c-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), '损溢单录入', '116009001', '116009', 2, 'profitLossEdit', 'profitLossEdit', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('fc0f1c2-166ebf78eb0-dd839b2667c58e794761377dd4c54673',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000017',#{tenantId}), '损溢单查询', '116009002', '116009', 2, 'profitLossList', 'profitLossList', NULL, 1, NULL, 1, 0, NULL, NULL, NULL, 'admin', NOW(), NULL, NOW(), #{tenantId}),
(CONCAT('ffee4f2c-b496-4d7e-8b18-813b967e3d39',#{tenantId}), CONCAT('APP000005',#{tenantId}), CONCAT('MP000000014',#{tenantId}), '损益管理', '115006001', '115006', 2, '', NULL, '', 1, NULL, NULL, NULL, NULL, NULL, '332982e6-166e87d5034-490b566f414bb26e43e571fb8a699b7d', 'u1', NOW(), NULL, NOW(), #{tenantId});
    </insert>

    <insert id="initRoleMenuRelation">
        INSERT INTO t_user_role_menu_relation(role_menu_relation,role_id,menu_id,status,tenant_id) VALUES
(UUID(), #{roleId}, CONCAT('083630015',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('083725585',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('102-162650ad1e5-c2244ee960668c7ffb470300f7f634cc',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('16e819-1651c6d3b3f-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('16e819-1651c70b9c4-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18430a5-15e838f1f58-aed578c6343b4e56d1e90d75d41a7a2a',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18430a5-15e8390479b-aed578c6343b4e56d1e90d75d41a7a2a',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18bf7c1f-167785ff43c-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18bf7c1f-167786095b1-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18bf7c1f-16778618847-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('18e1f2c-1671bfd03b8-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1a52f3e-1653c6f218b-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1a52f3e-1653c6fe7fc-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1c32dbf4-1667bcc67cf-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1d00e04-1674f290543-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1d00e04-1674f2ca956-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1dfdec4-166f0e1178a-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('1dfdec4-166f0e187ac-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('201812141908',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('23158d61-1678314f592-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('23d318c5-1667bccc816-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('27cac296-16763a6893a-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebe4ef0b-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebe57dd6-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebe60270-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebeb26eb-490b566f414bb26e43e571fb8a6990012',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebeb26eb-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebeeadca-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebf0c1c5-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebf120ca-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebf3f697-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ebf4da9f-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ec00f7f5-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ec01467d-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2a101848-166ec023153-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2b3d51-1673ac32b6f-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2b3d51-1673ac3a3ba-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2c73e1-16565656437-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2c73e1-1656565b542-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2c73e1-1656566b22b-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2e3fa6a5-166e7d88abe-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2e3fa6a5-166e87dceda-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2e3fa6a5-166e87f644b-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2e3fa6a5-166e88fb509-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('2e3fa6a5-166e89794bc-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e7bb8f1a-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e7d2544c-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e7d2f1e8-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e7d8e9d8-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e7d8e9d8-490b566f414bb26e43e571fb8a699bfc',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('332982e6-166e87e3817-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('3891914d-16667ba45cb-40f45ba170827f8c43d15dc73b694fd5',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('3891914d-16667ba45cb-40f45ba170827f8c43d15dc73b694fd6',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('3afd89-1673951bc86-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('491055ba-16705f47492-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('4b59c18b-16707661402-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec16f6a',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec1qqqq',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('56435a-15e2c0c8386-a831a394da647e4079063d7dbec1rrrr',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('56435a-15e2c0d2ce6-a831a394da647e4079063d7dbec16f6a',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('5a48302e-167785f5909-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('5a48302e-16778610f75-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('6006ef48-1679aee5cda-490b566f414bb26e43e571fb8a699b21',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('6266d38c-167ac51cc9d-490b566f414bb26e43e571fb8a699b7d',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('6266d38c-167ac51cc9d-490b566f414bb26e53e571fb8a699b7f',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('900000047',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('900000058',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('9858e1-165324c06aa-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('9858e1-165324c5998-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('a71d09-1679c78ecd6-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('a71d09-1679c78ecd6-79974a2ec6a6d0024fffe00b30db7144',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('a71d09-1679c7985f4-79974a2ec6a6d0024fffe00b30db7143',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebe52b8d-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebe90463-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebe95f41-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebe9c06f-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebec0c41-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebed21b1-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf00e6e-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf441f6-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf5477b-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf5e87b-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf73f8c-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('fc0f1c2-166ebf78eb0-dd839b2667c58e794761377dd4c54673',#{tenantId}), 1, #{tenantId}),
(UUID(), #{roleId}, CONCAT('ffee4f2c-b496-4d7e-8b18-813b967e3d39',#{tenantId}), 1, #{tenantId});
    </insert>

</mapper>
