<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.ShopGoodsDetailMapper">
	<!-- 单个门店的 信息 -->
	<select id="queryShopDetailById" resultType="com.icss.newretail.model.UserStoreInfoDTO">
	  select DISTINCT
		a.uuid,a.org_seq,a.auth_code,a.store_name,a.business_license,a.store_type,a.manager_area,a.building_area,a.practical_area,a.leasehold_area,a.warehouse_area,a.open_status,
        a.open_time,a.open_date,a.province,a.city,a.county,a.business_district_type,a.company_name,a.legal_person,a.legal_person_phone,a.store_owner_name,a.store_owner_phone,a.store_phone,
        a.store_owner_grade,a.store_address,a.store_address_detail,a.store_lng,a.store_lat,a.doorway_pic,a.store_owner_pic,a.store_manager_pic,a.gradelevel_id,a.store_manager_phone,a.store_manager_name,
        a.merid,agreement,a.wechat_id,a.up_org_zone,base_code,a.base_person_code,a.up_org_seq,a.open_begin_time,a.open_end_time,a.base_name,a.base_person_name,a.store_code,
		b.user_id,b.user_name as
		dianZhang,b.user_type,b.tel,b.head_pic_url,a.terminal_id 
		from t_user_store_info a
		left join t_user_org_relation c ON c.org_seq =a.org_seq and c.user_type =5
		LEFT JOIN t_user_info b ON b.user_id= c.user_id
		   where a.`status`=1 
		<if test="request.orgSeq!=null and request.orgSeq !=''">
			and a.org_seq=#{request.orgSeq}
		</if>

	</select>
	<select id="queryShopUserDetail" resultType="com.icss.newretail.model.AuthorityParamsDTO">
		select d.org_seq,
		c.user_id,c.real_name,c.nick_name,c.tel, d.user_type,f.authority_name,f.authority_uri
		FROM
		t_user_org_relation d
		LEFT JOIN t_user_info c on c.user_id=d.user_id
    	LEFT JOIN t_user_authority_relation e ON e.user_id=c.user_id
    	LEFT JOIN t_user_shop_applet_authority f ON e.authority_id=f.uuid
		WHERE 1=1
		<if test="request.orgSeq!=null and request.orgSeq !=''">
			and d.org_seq =#{request.orgSeq}
		</if>
		<if test="request.realName !=null and request.realName !=''">
			and c.real_name LIKE CONCAT('%',#{request.realName},'%')
		</if>
		<if test="request.tel !=null and request.tel !=''">
			and c.tel LIKE CONCAT('%',#{request.tel},'%')
		</if>
	</select>
	
	<select id="getWarzone" resultType="com.icss.newretail.model.MUserOrganizationDTO">
     	select * from t_user_organization a where a.org_type=2
   </select>
	<select id="getStoreList" resultType="com.icss.newretail.model.MUserOrganizationDTO">
     select * from t_user_organization a where a.status=1 and  a.org_type=4
  	 </select>
  	  
  	  <select id="getWarzoneName" resultType="com.icss.newretail.model.MUserOrganizationDTO">
  	 	 SELECT  * FROM t_user_organization WHERE status=1 and 
	     org_seq =#{request.orgSeq}
	</select>
  	  
  	 <select id="getStoreListByWar" resultType="com.icss.newretail.model.MUserOrganizationDTO">
  	 	select b.org_seq,b.org_name from t_user_organization a   
		LEFT JOIN t_user_organization b ON a.org_seq=b.up_org_seq
		where a.status=1 and a.up_org_seq=#{request.zqOrgSeq}
	</select>
		<!--根据门店编码 获取战区 -->
  	   <select id="getWarzoneNameByOrgSeq" resultType="com.icss.newretail.model.MUserOrganizationDTO">
  	  	select a.org_seq,a.org_name from t_user_organization a   
		LEFT JOIN t_user_organization b ON b.up_org_seq=a.org_seq  
		LEFT JOIN t_user_organization c ON c.up_org_seq=b.org_seq
		where a.status=1 and c.org_seq=#{request.orgSeq}
  	  </select>
  	  	<!-- 模糊查询门店List 信息 -->
	<select id="queryStoreListByKey" resultType="com.icss.newretail.model.UserStoreInfoDTO">
		select a.org_seq,a.store_name from t_user_store_info a   
		WHERE a.`status`=1 
		and a.store_name LIKE '%${request.storeName }%' OR a.org_seq LIKE '%${request.storeName }%'
	</select>
  	  
</mapper>
