<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreGradelevelRuleMapper">

    <select id="queryStoreGradelevelRule" resultType="com.icss.newretail.model.StoreGradelevelRuleDTO">
          SELECT * FROM t_user_store_gradelevel_rule
          where status ='1'
    </select>

    <select id="queryStoreRule" resultType="com.icss.newretail.model.StoreGradelevelRuleDTO">
        SELECT * FROM t_user_store_gradelevel_rule
        where 1=1 and status ='1'
        <if test="param.ruleId !=null">
            <foreach collection="list" item="param" separator=",">
                and a.uuid not in (#{param.ruleId})
            </foreach>
        </if>
    </select>

    <select id="querygoodById" resultType="com.icss.newretail.model.StoreGradelevelRuleDTO">
        SELECT
            *
        FROM
            t_user_store_gradelevel_rule a
        WHERE a.uuid=#{storeLevelId} and status ='1'
    </select>

    <select id="maxGradelevel" resultType="com.icss.newretail.user.entity.StoreGradelevelRule">
        SELECT
            uuid,gradelevel_name,level_number,begin_score,end_score,icon,status,create_user,create_time,update_time,update_user
        FROM
            t_user_store_gradelevel_rule
        WHERE  status ='1'
        ORDER BY end_score DESC
        LIMIT 1
    </select>
    <select id="queryMaxGradeleve" resultType="com.icss.newretail.user.entity.StoreGradelevelRule">
        SELECT UUID,
        gradelevel_name,
        level_number,
        begin_score,
        end_score,
        icon,
        STATUS FROM t_user_store_gradelevel_rule   ORDER BY end_score DESC  LIMIT 1
    </select>

</mapper>
