<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.TenantSaascallMapper">
    <select id="getTenantSaascallByOrderId" resultType="com.icss.newretail.user.entity.TenantSaascall">
        SELECT *
        FROM t_user_tenant_saascall
        WHERE order_id = #{orderId} and activity='newInstance' and result_code='000000'
        limit 1
    </select>
</mapper>