<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.UserOperatorTypeMapper">

    <select id="getByOperatorTypeName" resultType="com.icss.newretail.user.entity.UserOperatorType">
      SELECT operation_type, operation_type_name, Operation_type_desc, tenant_id, create_time,
             create_user, update_time, update_user
      FROM t_user_operator_type
      WHERE operation_type_name=#{operatorTypeName}
    </select>

</mapper>
