<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.UserAreaMapper">

    <update id="modifyAreaInfo" parameterType="com.icss.newretail.model.AreaInfoDTO">
        UPDATE t_user_area
        <set>
            <if test="areaSeq != null and areaSeq!=''">area_seq=#{areaSeq},</if>
            <if test="areaName != null and areaName !=''">area_name=#{areaName},</if>
            <if test="updateUser != null and updateUser!=''">update_user=#{updateUser},</if>
            <if test="upAreaSeq != null and upAreaSeq!=''">up_area_seq=#{upAreaSeq},</if>
            <!--<if test="tenantId != null">tenant_id=#{tenantId},</if>-->
            update_user = now()
        </set>
        where area_id=#{areaId}
    </update>

    <select id="countStoreByArea" resultType="com.icss.newretail.model.AreaInfoDTO">
        SELECT a.area_id, a.area_seq, a.area_name, a.up_area_seq, a.create_time, a.create_user, a.update_time, a.update_user, a.tenant_id,
        COUNT(b.company_desc) storeConut
        FROM
        t_user_area AS a
        LEFT JOIN t_user_organization_info AS b ON a.area_seq = b.area_seq AND b.status = #{status} AND b.tenant_id=#{tenantId}
        WHERE
        a.up_area_seq = #{areaSeq}
        GROUP BY a.area_seq
    </select>

    <select id="getAreaInfoById" resultType="com.icss.newretail.model.AreaInfoDTO">
        SELECT area_id, area_seq, area_name, up_area_seq, create_time, create_user, update_time, update_user, tenant_id
        FROM t_user_area
        WHERE area_id=#{id}
    </select>

    <select id="queryAreaInfos" resultType="com.icss.newretail.model.AreaInfoDTO">
        SELECT area_id, area_seq, area_name, up_area_seq, create_time, create_user, update_time, update_user, tenant_id
        FROM t_user_area
        WHERE tenant_id = #{tenantId}
        <if test="param.upAreaSeq != null and param.upAreaSeq != ''">
            AND up_area_seq = #{param.upAreaSeq}
        </if>
        <if test="param.areaSeq != null and param.areaSeq != ''">
            AND area_seq LIKE concat('%',#{param.areaSeq},'%')
        </if>
        <if test="param.areaName != null and param.areaName != ''">
            AND area_name LIKE concat('%',#{param.areaName},'%')
        </if>
    </select>

</mapper>
