<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.UserShopAppletAuthortiryMapper">

    <select id="selectAll" resultType="com.icss.newretail.user.entity.UserShopAppletAuthortiry">
        SELECT 	UUID,
	authority_name,
	authority_uri,
	is_show,
	icon,
	description,
	STATUS,
	sort
	FROM
	nr_user.t_user_shop_applet_authority
	order by sort
    </select>

    <select id="getAuthority" resultType="com.icss.newretail.model.ShopAppletAuthortiryDto">
		SELECT b.* FROM
		t_user_authority_relation a LEFT JOIN t_user_shop_applet_authority b ON a.authority_id = b.uuid
		WHERE a.org_seq = #{orgSeq} AND a.user_id = #{userId} AND b.status = 1
		order by b.sort,b.create_time
	</select>

	<select id="getAllAuthority" resultType="com.icss.newretail.model.ShopAppletAuthortiryDto">
		SELECT * FROM
		t_user_shop_applet_authority
		WHERE status = 1
		order by sort,create_time
	</select>
</mapper>
