<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.UserSystemParamMapper">

    <select id="queryUserSystemParam" resultType="com.icss.newretail.model.UserSystemParamDTO">
        SELECT
        a.uuid,
        a.CODE,
        a.NAME,
        a.
        VALUE
        ,
        a.STATUS,
        b.NAME create_user,
        a.create_time,
        a.update_time
        FROM
        t_user_system_param a
        LEFT JOIN t_user_system_param_value b ON a.
        VALUE
        = b.CODE
        AND a.uuid = b.param_id
        WHERE
        a.STATUS in (1,0)
        <if test="name!=null and name!=''">
            AND a.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="code!=null and code!=''">
            AND a.code =#{code}
        </if>
    </select>
    <select id="querySystemParam" resultType="com.icss.newretail.model.UserSystemParamDTO">
        SELECT
        a.uuid,
        a.CODE,
        a.NAME,
        a.
        VALUE
        ,
        a.STATUS,
        b.NAME create_user,
        a.create_time,
        a.update_time
        FROM
        t_user_system_param a
        LEFT JOIN t_user_system_param_value b ON a.
        VALUE
        = b.CODE
        AND a.uuid = b.param_id
        WHERE
        a.STATUS in (1,0)
        <if test="code.code != null and code.code != ''">
            and  a.code LIKE CONCAT('%',#{code.code},'%')
        </if>
        <if test="code.name != null and code.name != ''">
            and  a.name LIKE CONCAT('%',#{code.name},'%')
        </if>
        order by a.create_time DESC
    </select>

</mapper>
