<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.WechatTipsMapper">
    <select id="getTips" resultType="com.icss.newretail.model.TipsDTO">
        SELECT  a.uuid, a.app_id, a.content, a.version, a.status, a.create_user, a.create_time, a.update_user, a.update_time, a.tenant_id
        FROM t_user_wechat_tips a
        WHERE NOT EXISTS ( SELECT b.tips_id FROM t_user_wechat_tips_agree AS b WHERE b.tips_id = a.uuid AND b.version = a.version AND b.agree = 'Y' AND b.open_id = #{openId} )
        AND app_id = #{appId} AND tenant_id = #{tenantId} AND status = 1
    </select>
    <select id="queryTipsById" resultType="com.icss.newretail.model.TipsDTO">
        SELECT uuid, app_id, content, version, status, create_user, create_time, update_user, update_time, tenant_id
        FROM t_user_wechat_tips
        WHERE uuid = #{tipsId}
    </select>
    <select id="queryTips" resultType="com.icss.newretail.model.TipsDTO">
        SELECT uuid, app_id, content, version, status, create_user, create_time, update_user, update_time, tenant_id
        FROM t_user_wechat_tips
        WHERE tenant_id = #{tenantId}
        <if test="param !=null">
            <if test="param.appId != null and param.appId != ''">
                AND app_id = #{param.appId}
            </if>
            <if test="param.content != null and param.content != ''">
                <![CDATA[ AND LOCATE(#{param.content},content) > 0]]>
            </if>
            <if test="param.version !=null and param.version!=''">
                AND version = #{param.version}
            </if>
            <if test="param.status !=null">
                AND status = #{param.status}
            </if>
        </if>
    </select>

</mapper>
