<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.OrganizationMapper">
	<select id="queryStoreFunctions" resultType="com.icss.newretail.model.StoreFunctionDTO">
	   SELECT 	menu_id, org_seq, device_id, menu_name, menu_seq, menu_pic,menu_level, menu_type, download_url,
	     		pkgname, menu_resource,is_root_node,  create_user, create_time, update_user, update_time
	   FROM 	t_user_store_function_configure where org_seq = #{orgId}
	</select>

	<!--<update id="modifyOrganization" parameterType="com.icss.newretail.model.OrganizationDTO">
		UPDATE t_user_organization
		<set>
			<if test="orgName!=null and orgName!=''">org_name=#{orgName},</if>
			<if test="orgType!=null and orgType!=''">org_type=#{orgType},</if>
			<if test="areaId!=null and areaId!=''">area_id=#{areaId},</if>
			<if test="tenantId!=null and tenantId!=''">tenant_id=#{tenantId},</if>
			update_time = NOW(),
			update_user = #{updateUser}
		</set>
		WHERE org_seq=#{orgSeq}
	</update>-->

<!--
	<update id="disableOrganization" >
		UPDATE t_user_organization SET  status=0,update_user=#{userId},update_time=NOW()
		WHERE org_seq=#{orgId}
	</update>

	<update id="enableOrganization">
		UPDATE t_user_organization SET  status=1,update_user=#{userId},update_time=NOW()
		WHERE org_seq=#{orgId}
	</update>
-->

	<select id="queryOrganizations" resultType="com.icss.newretail.model.OrganizationDTO">
		SELECT DISTINCT  a.org_seq, a.org_name, a.up_org_seq, a.org_type, a.area_id, a.status, a.org_no, a.create_time, a.create_user,
		a.update_time, a.update_user,b.org_name up_org_seq_name,c.org_type_name
		FROM t_user_organization a
		LEFT JOIN t_user_organization b ON a.up_org_seq=b.org_seq
		LEFT JOIN t_user_org_type c on a.org_type=c.org_type
		<where>
			<if test="organizationRequest.orgName!=null and organizationRequest.orgName!=''">
				a.org_name LIKE CONCAT('%',#{organizationRequest.orgName},'%')
			</if>
			<if test="organizationRequest.orgType!=null and organizationRequest.orgType!=''">
				AND org_type = #{organizationRequest.orgType}
			</if>
			AND a.status = 1
		</where>
	</select>
	
	<select id="getUserOrgType" resultType="com.icss.newretail.model.OrganizationTypeDTO">
	select org_type,org_type_name,org_type,description,create_time,create_user,
	update_time,update_user
	from t_user_org_type
	where 1=1 
	<if test="orgType!=null and orgType!=''">
           AND org_type=#{orgType}
    </if>
    <if test="orgTypeName!=null and orgTypeName!=''">
           AND org_type_name LIKE CONCAT('%',#{orgTypeName},'%')
    </if>
	
	</select>

	<select id="getUpOrg" resultType="com.icss.newretail.model.OrganizationDTO">
		select * from t_user_organization
		where status = 1 and level = 1
		order by org_no,create_time
	</select>
	
	<select id="getSonOrg" resultType="com.icss.newretail.model.OrganizationDTO">
		select * from t_user_organization
		where status = 1 and up_org_seq = #{upOrgSeq}
		order by org_no,create_time
	</select>

	<select id="getActiveUpOrg" resultType="com.icss.newretail.model.OrganizationDTO">
		select * from t_user_organization
		where status = 1 and org_seq=#{orgSeq}
		order by org_no,create_time
	</select>

	<select id="queryTopById" resultType="com.icss.newretail.model.OrganizationDTO">
		select up_org_seq,org_type from t_user_organization where org_seq =#{orgSeq}
	</select>

	<select id="queryStoreOrgseq" resultType="com.icss.newretail.model.OrgReslutDTO">
		select distinct e.org_seq,e.org_name,e.level,e.area_id,e.org_type,e.area_id,e.status,e.org_no
				from t_user_organization a
   				 inner join t_user_organization b on a.org_seq=b.up_org_seq or a.org_seq=b.org_seq
   				 inner join t_user_organization c on b.org_seq=c.up_org_seq or b.org_seq=c.org_seq
   				 inner join t_user_organization d on c.org_seq=d.up_org_seq or c.org_seq=d.org_seq
   				 inner join t_user_organization e on d.org_seq=e.up_org_seq or d.org_seq=e.org_seq
			where a.org_seq= #{orgSeq}
	</select>


	<select id="queryOrganizationById" resultType="com.icss.newretail.model.OrganizationChildDTO">
		SELECT
			b.org_seq,b.org_name,b.org_type,b.up_org_seq
		FROM
			t_user_organization a
		LEFT JOIN t_user_organization b ON a.org_seq = b.up_org_seq
		WHERE a.org_seq=#{orgSeq}
	</select>

	<select id="queryOrganization" resultType="com.icss.newretail.model.OrganizationChildDTO">
		SELECT
			a.org_seq,a.org_name,a.org_type,a.up_org_seq
		FROM
			t_user_organization a
		where a.org_seq=#{orgSeq}
	</select>

    <select id="getOrgSeqType" resultType="com.icss.newretail.model.OrganizationDTO">
		select * from t_user_organization where org_seq=#{orgSeq}
	</select>
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT COUNT(*)  FROM   t_user_org_relation  AS a  LEFT JOIN 	t_user_info  AS b  ON  a.user_id = b.user_id
	WHERE a.org_seq = #{orgSeq}  AND a.status=1 AND b.status    AND a.user_type = #{userType}
	</select>

	<select id="queryZqOrgSeq" resultType="com.icss.newretail.model.OrganizationChildDTO">
			SELECT
				b.up_org_seq as zqOrgSeq
			from
				t_user_organization a
			LEFT JOIN  t_user_organization b on a.up_org_seq=b.org_seq
			where a.`status`=1 and a.org_seq=#{orgSeq}
	</select>
	<select id="queryStoreById" resultType="com.icss.newretail.model.UserStoreInfoDTO">
		SELECT * FROM `t_user_store_info` a where 1=1 and a.`status`=1 and a.org_seq=#{orgSeq}
	</select>

	<select id="getUpOrgQuery" resultType="com.icss.newretail.model.OrganizationDTO" parameterType="java.lang.String">
		select * from t_user_organization
		where status = 1
		<choose>
			<when test="_parameter != null and _parameter !=''">
				and up_org_seq = #{upOrgSeq}
			</when>
			<otherwise>
				and (up_org_seq is null or up_org_seq='' or up_org_seq = null)
			</otherwise>
		</choose>
		order by org_no,create_time
	</select>

</mapper>
