<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.OrganizationTradeMapper">
	<resultMap id="organizationMap" type="com.icss.newretail.model.OrganizationDTO">
      <id property="orgSeq" column="orgSeq"/>
      <result property="orgName" column="orgName"/>
      <result property="upOrgSeq" column="upOrgSeq"/>
      <result property="level" column="level"/>
      <result property="upOrgSeqName" column="upOrgSeqName"/>
      <result property="orgType" column="orgType"/>
      <result property="status" column="status"/>
      <result property="warzoneName" column="warzoneName"/>
      <result property="baseName" column="baseName"/>
      <result property="storeName" column="storeName"/>
      <result property="companyName" column="companyName"/>
      <result property="authCode" column="authCode"/>
      <collection property="children" ofType="com.icss.newretail.model.OrganizationDTO">
        <id column="childOrgSeq" property="orgSeq" />
        <result column="childOrgName" property="orgName" />
      </collection>
	</resultMap>
	
	<resultMap id="orgTreeMap" type="com.icss.newretail.model.OrgTreeNodeDTO">
      <id property="orgSeq" column="orgSeq"/>
      <result property="orgName" column="orgName"/>
      <result property="upOrgSeq" column="upOrgSeq"/>
      <result property="orgType" column="orgType"/>
      <result property="status" column="status"/>
      <result property="warzoneName" column="warzoneName"/>
      <result property="baseName" column="baseName"/>
      <result property="storeName" column="storeName"/>
      <result property="companyName" column="companyName"/>
      <result property="authCode" column="authCode"/>
      <collection property="childList" ofType="com.icss.newretail.model.OrgTreeNodeDTO">
        <id column="childId" property="orgSeq" />
        <result column="childName" property="orgName" />
      </collection>
      <collection property="storeList" ofType="com.icss.newretail.model.OrgTreeNodeDTO">
        <id column="storeId" property="orgSeq" />
        <result column="storeName" property="orgName" />
      </collection>
	</resultMap>
	
	<select id="queryJTChildrenByParam" resultMap="organizationMap">
		select zq.org_seq as orgSeq, zq.org_name as orgName, zq.level, zq.up_org_seq as upOrgSeqName,
			zq.org_type as orgType, zq.status, zq.org_name as warzoneName, 
			md.org_seq as childOrgSeq, md.org_name as childOrgName
		from t_user_organization jt
		left join t_user_organization zq on zq.up_org_seq = jt.org_seq and zq.status = 1
		left join t_user_organization jd on jd.up_org_seq = zq.org_seq and jd.status = 1
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		where jt.status = 1 and jt.org_seq = #{orgSeq}
		<if test="theaterName !=null and theaterName !=''">
            and zq.org_name like concat('%',#{theaterName},'%')
        </if>
        <if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%',#{baseName},'%')
        </if>
        <if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
        order by zq.org_no, zq.create_time
	</select>
	
	<select id="queryZQChildrenByParam" resultMap="organizationMap">
		select jd.org_seq as orgSeq, jd.org_name as orgName, jd.level, jd.up_org_seq as upOrgSeqName,
			jd.org_type as orgType, jd.status, zq.org_name as warzoneName, jd.org_name as baseName,
			md.org_seq as childOrgSeq, md.org_name as childOrgName
		from t_user_organization zq 
		left join t_user_organization jd on jd.up_org_seq = zq.org_seq and jd.status = 1
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		where zq.status = 1 and zq.org_seq = #{orgSeq}
		<if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%',#{baseName},'%')
        </if>
        <if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
        order by jd.org_no, jd.create_time
	</select>
	
	<select id="queryJDChildrenByParam" resultType="com.icss.newretail.model.OrganizationDTO">
		select md.org_seq as orgSeq, md.org_name as orgName, md.level, md.up_org_seq as upOrgSeqName,
			md.org_type as orgType, md.status, s.up_org_zone as warzoneName, s.base_name as baseName,
			s.store_name as storeName, s.company_name as companyName, s.auth_code as authCode
		from t_user_organization jd 
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		left join t_user_store_info s on md.org_seq = s.org_seq
		where jd.status = 1 and jd.org_seq = #{orgSeq}
        <if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
        order by md.org_no, md.create_time
	</select>
	
	<select id="queryMDByParam" resultType="com.icss.newretail.model.OrganizationDTO">
		select md.org_seq as orgSeq, md.org_name as orgName, md.level, md.up_org_seq as upOrgSeqName,
			md.org_type as orgType, md.status, s.up_org_zone as warzoneName, s.base_name as baseName,
			s.store_name as storeName, s.company_name as companyName, s.auth_code as authCode
		from t_user_organization md 
		left join t_user_store_info s on md.org_seq = s.org_seq
		where md.status = 1 and md.org_seq = #{orgSeq}
	</select>
	
	<select id="queryJTOrgByParam" resultMap="orgTreeMap">
		select jt.org_seq as orgSeq, jt.org_name as orgName, jt.up_org_seq as upOrgSeq,
			jt.org_type as orgType, jt.status, 
			zq.org_seq as childId, md.org_seq as storeId
		from t_user_organization jt
		left join t_user_organization zq on zq.up_org_seq = jt.org_seq and zq.status = 1
		<if test="theaterName !=null and theaterName !=''">
            and zq.org_name like concat('%',#{theaterName},'%')
        </if>
        left join t_user_organization jd on jd.up_org_seq = zq.org_seq and jd.status = 1
		<if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%',#{baseName},'%')
        </if>
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		<if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
		where jt.status = 1  and jt.org_type = 1
		<if test="orgSeq !=null and orgSeq !=''">
            and jt.org_seq = #{orgSeq}
        </if>
	</select>
	
	<select id="queryZQOrgByParam" resultMap="orgTreeMap">
		select zq.org_seq as orgSeq, zq.org_name as orgName, zq.up_org_seq as upOrgSeq,
			zq.org_type as orgType, zq.status, zq.org_name as warzoneName,
			jd.org_seq as childId, md.org_seq as storeId
		from t_user_organization zq 
		left join t_user_organization jd on jd.up_org_seq = zq.org_seq and jd.status = 1
		<if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%',#{baseName},'%')
        </if>
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		<if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
		where zq.status = 1 and zq.org_seq = #{orgSeq}  
	</select>
	
	<select id="queryJDOrgByParam" resultMap="orgTreeMap">
		select jd.org_seq as orgSeq, jd.org_name as orgName, jd.up_org_seq as upOrgSeq,
			jd.org_type as orgType, jd.status, zq.org_name as warzoneName, jd.org_name as baseName,
			md.org_seq as childId, md.org_seq as storeId
		from t_user_organization jd 
		left join t_user_organization zq on jd.up_org_seq = zq.org_seq 
		left join t_user_organization md on md.up_org_seq = jd.org_seq and md.status = 1
		<if test="shopName !=null and shopName !=''">
            and md.org_name like concat('%',#{shopName},'%')
        </if>
        <if test="(shopOwnerName !=null and shopOwnerName !='') or (shopOwnerTel !=null and shopOwnerTel !='')">
            and exists (
            	select r.uuid
            	from t_user_org_relation r
            	left join t_user_info u on r.user_id = u.user_id
            	where r.org_seq = md.org_seq and r.status = 1 and r.user_type = 4 
            	<if test="shopOwnerName !=null and shopOwnerName !=''">
            		and (u.real_name like concat('%',#{shopOwnerName},'%') or u.user_name like concat('%',#{shopOwnerName},'%'))
            	</if>
            	<if test="shopOwnerTel !=null and shopOwnerTel !=''">
            		and u.tel like concat('%',#{shopOwnerTel},'%') 
            	</if>
            )
        </if>
		where jd.status = 1 and jd.org_seq = #{orgSeq}
	</select>
	
	<select id="queryMDOrgParam" resultMap="orgTreeMap">
		select md.org_seq as orgSeq, md.org_name as orgName, md.up_org_seq as upOrgSeq,
			md.org_type as orgType, md.status, s.up_org_zone as warzoneName, s.base_name as baseName,
			s.store_name as storeName, s.company_name as companyName, s.auth_code as authCode
		from t_user_organization md 
		left join t_user_store_info s on md.org_seq = s.org_seq
		where md.status = 1 and md.org_seq = #{orgSeq}
	</select>
	
	<select id="queryOrgListByParam" resultType="com.icss.newretail.model.OrganizationDTO">
        SELECT a.*
        <if test="orgType !=null and orgType == '4'.toString()">
        	, b.shop_owner_name, b.shop_owner_tel,
        	zq.org_seq as up_org_seq, zq.org_name as upOrgSeqName
        	,b.auth_code
        </if>
        FROM t_user_organization a
        <if test="orgType !=null and orgType == '4'.toString()">
        left join (
        	select r.org_seq,s.auth_code, group_concat(distinct u.real_name order by r.create_time) as shop_owner_name,
        		group_concat(distinct u.tel order by r.create_time) as shop_owner_tel
        	from t_user_org_relation r
        	left join t_user_info u on r.user_id = u.user_id
            left join t_user_store_info s on s.org_seq = r.org_seq
        	where r.status = 1 and r.user_type = 4 and u.user_id is not null
        	group by r.org_seq
        ) b on a.org_seq = b.org_seq
        left join t_user_organization jd on a.up_org_seq = jd.org_seq
        left join t_user_organization zq on jd.up_org_seq = zq.org_seq
        </if>
        WHERE a.org_seq in ${orgSeqs}
        <if test="orgType !=null and orgType == '4'.toString()">
        	and a.org_type = '4'
        </if>
        order by a.org_seq
        limit 1000
    </select>
    
    <select id="queryShopListByParam" resultType="string">
        SELECT md.org_seq
        FROM t_user_store_info md
        left join t_user_organization jd on md.base_code = jd.org_seq
        left join t_user_organization zq on md.up_org_seq = zq.org_seq
        WHERE md.status = 1
        <if test="warzoneName !=null and warzoneName !=''">
            and zq.org_name like concat('%', #{warzoneName},'%')
        </if>
        <if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%', #{baseName},'%')
        </if>
        <if test="shopName !=null and shopName !=''">
            and md.store_name like concat('%', #{shopName},'%')
        </if>
        <if test="shopOwnerName !=null and shopOwnerName !=''">
            and md.store_owner_name like concat('%', #{shopOwnerName},'%')
        </if>
        order by md.org_seq
        limit 1000
    </select>
    
    <select id="queryShopInfoListByParam" resultType="com.icss.newretail.model.ShopInfoDTO">
       SELECT md.org_seq, md.store_name as org_name, md.auth_code, md.base_code as jd_org_seq, jd.org_name as jd_org_name,
        	md.up_org_seq as zq_org_seq, zq.org_name as zq_org_name,
        	md.province, md.city, md.store_type, md.legal_person, md.legal_person_phone,
        	md.store_owner_name as shop_owner_name, md.store_owner_phone as shop_owner_tel,
        	md.store_address, md.store_address_detail, md.status
        FROM t_user_store_info md
        left join t_user_organization jd on md.base_code = jd.org_seq
        left join t_user_organization zq on md.up_org_seq = zq.org_seq
        WHERE 1=1
        <if test="orgSeqs !=null and orgSeqs !=''">
            and md.org_seq in ${orgSeqs}
        </if>
        <if test="warzoneId !=null and warzoneId !=''">
            and md.up_org_seq = #{warzoneId}
        </if>
        <if test="baseId !=null and baseId !=''">
            and md.base_code = #{baseId}
        </if>
        <if test="authCode !=null and authCode !=''">
            and md.auth_code = #{authCode}
        </if>
        <if test="shopId !=null and shopId !=''">
            and md.org_seq = #{shopId}
        </if>
        <if test="warzoneName !=null and warzoneName !=''">
            and zq.org_name like concat('%', #{warzoneName},'%')
        </if>
        <if test="baseName !=null and baseName !=''">
            and jd.org_name like concat('%', #{baseName},'%')
        </if>
        <if test="shopName !=null and shopName !=''">
            and md.store_name like concat('%', #{shopName},'%')
        </if>
        <if test="shopOwnerName !=null and shopOwnerName !=''">
            and md.store_owner_name like concat('%', #{shopOwnerName},'%')
        </if>
        order by md.org_seq
        limit 1000
    </select>
	
	<select id="queryUserListByParam" resultType="com.icss.newretail.model.UserInfoDTO">
        SELECT a.* 
        FROM t_user_info a
        WHERE 1=1
        <if test="users !=null and users !=''">
            and a.user_id in ${users}
        </if>
        <if test="userName !=null and userName !=''">
            and (a.user_name like concat('%', #{userName},'%') or a.real_name like concat('%', #{userName},'%'))
        </if>
        order by a.create_time
        limit 1000
    </select>
    
    <select id="getShopEmployeesList" resultType="com.icss.newretail.model.UserInfoDTO">
        SELECT distinct a.*
        FROM t_user_info a
        left join t_user_org_relation b on b.user_id = a.user_id
        WHERE (a.status = 1 and b.org_seq = #{orgSeq} and b.status = 1 and b.user_type > 4)
        <if test="users !=null and users !=''">
            or a.user_id in ${users}
        </if>
        order by a.status desc, a.create_time
    </select>
    
    <select id="querySameWarZoneChildren" resultType="com.icss.newretail.model.OrganizationDTO">
		select md.org_seq as orgSeq, md.org_name as orgName, md.up_org_seq as upOrgSeq,
			md.org_type as orgType, md.status
		from t_user_organization md 
		where md.status = 1 and md.up_org_seq = (select up_org_seq from t_user_organization where org_seq = #{orgSeq})
	</select>
	
	<select id="getShopInfo" resultType="com.icss.newretail.model.ShopInfoDTO">
        SELECT md.*, jd.org_seq as jd_org_seq, jd.org_name as jd_org_name,
        	zq.org_seq as zq_org_seq, zq.org_name as zq_org_name,
        	dz.shop_owner_name, dz.shop_owner_tel
        FROM t_user_organization md
        left join t_user_organization jd on md.up_org_seq = jd.org_seq
        left join t_user_organization zq on jd.up_org_seq = zq.org_seq
        left join (
        	select r.org_seq, group_concat(distinct u.real_name order by r.create_time) as shop_owner_name,
        		group_concat(distinct u.tel order by r.create_time) as shop_owner_tel
        	from t_user_org_relation r
        	left join t_user_info u on r.user_id = u.user_id
        	where r.status = 1 and r.user_type = 4 and u.user_id is not null
        	group by r.org_seq
        ) dz on dz.org_seq = md.org_seq
        WHERE md.org_seq = #{orgSeq} and md.org_type = '4'
    </select>
</mapper>
