<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreDownloadCountMapper">
   <!-- uuid() as uuid , a.up_org_zone as up_org_zone, a.base_name as base_name,a.auth_code as authCode,
    org_seq as orgSeq, a.store_name as storeName-->
    <insert id="insertOne">
        insert into t_store_download_count(uuid,up_org_zone,base_name,auth_code,org_seq,store_name,
        activity_card_download_count,goods_card_download_count,store_card_download_count,sum_count,create_time,update_time)
        values (#{request.uuid},#{request.upOrgZone},#{request.baseName},#{request.authCode}
        ,#{request.orgSeq},#{request.storeName},
        #{request.activityCardDownloadCount},#{request.goodsCardDownloadCount},
        #{request.storeCardDownloadCount},#{request.sumCount},now(),now())
    </insert>

    <insert id="addCardAmountAddCardId">
        update t_store_download_count  set activity_card_download_count = activity_card_download_count+1 ,sum_count=sum_count+1,newest_activity_download=1,update_time=now() where org_seq=#{orgSeq}
    </insert>

    <update id="addCardAmount">
        <if test="type!=null and type==1 ">
            update t_store_download_count set activity_card_download_count = activity_card_download_count+1 ,sum_count=sum_count+1,update_time=now()  where org_seq=#{orgSeq}
        </if>
        <if test="type!=null and type==2 ">
            update t_store_download_count  set goods_card_download_count = goods_card_download_count+1 ,sum_count=sum_count+1,update_time=now()  where org_seq=#{orgSeq}
        </if>
        <if test="type!=null and type==3 ">
            update t_store_download_count  set store_card_download_count = store_card_download_count+1 ,sum_count=sum_count+1,update_time=now()  where org_seq=#{orgSeq}
        </if>
    </update>

    <select id="getWarZoneCount" resultType="com.icss.newretail.model.WarZoneDownloadCountDTO">
        SELECT up_org_zone,activity_card_download_count,store_card_download_count,goods_card_download_count,sum_count_sort as sum_count,
        (
        SELECT count(*)+1 FROM  war_download_sort  as a where a.sum_count_sort>s.sum_count_sort
        ) as grade
        FROM war_download_sort s
        <where>
            <if test="request!=null">
                <if test="request.warZoneName!=null and request.warZoneName!=''">
                    s.up_org_zone like CONCAT('%',#{request.warZoneName},'%')
                </if>
            </if>
        </where>
        <if test="request.sort != null and request.sort ==1">
            order by grade asc
        </if>
        <if test="request.sort != null and request.sort ==2">
            order by activity_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==3">
            order by activity_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==4">
            order by store_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==5">
            order by store_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==6">
            order by goods_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==7">
            order by goods_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==8">
            order by sum_count_sort asc
        </if>
        <if test="request.sort != null and request.sort ==9">
            order by sum_count_sort desc
        </if>
    </select>
    <select id="getBase" resultType="com.icss.newretail.model.WarZoneDownloadCountDTO">
        SELECT up_org_zone,base_name,activity_card_download_count,store_card_download_count,goods_card_download_count,sum_count_sort as sum_count,
        (
        SELECT count(*)+1 FROM  base_download_sort  as a where a.sum_count_sort>s.sum_count_sort
        ) as grade
        FROM base_download_sort s
        <where>
            <if test="request!=null">
                <if test="request.baseName!=null and request.baseName!=''">
                    s.base_name like CONCAT('%',#{request.baseName},'%')
                </if>
                <if test="request.warZoneName!=null and request.warZoneName!=''">
                   and s.up_org_zone like CONCAT('%',#{request.warZoneName},'%')
                </if>
            </if>
        </where>
        <if test="request.sort != null and request.sort ==1">
            order by grade asc
        </if>
        <if test="request.sort != null and request.sort ==2">
            order by activity_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==3">
            order by activity_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==4">
            order by store_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==5">
            order by store_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==6">
            order by goods_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==7">
            order by goods_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==8">
            order by sum_count_sort asc
        </if>
        <if test="request.sort != null and request.sort ==9">
            order by sum_count_sort desc
        </if>
    </select>

    <select id="getStore" resultType="com.icss.newretail.model.WarZoneDownloadCountDTO">
    SELECT uuid,up_org_zone,base_name,auth_code,org_seq,store_name,activity_card_download_count,store_card_download_count,goods_card_download_count,sum_count,
        (
            SELECT count(*)+1 FROM  t_store_download_count  as a where a.sum_count > s.sum_count
        ) as grade
        FROM t_store_download_count s
        <where>
            <if test="request!=null">
                <if test="request.baseName!=null and request.baseName!=''">
                    s.base_name like CONCAT('%',#{request.baseName},'%')
                </if>
                <if test="request.warZoneName!=null and request.warZoneName!=''">
                 and   s.up_org_zone like CONCAT('%',#{request.warZoneName},'%')
                </if>
                <if test="request.authCode!=null and request.authCode!=''">
                    and    s.auth_code = #{request.authCode}
                </if>
                <if test="request.storeName!=null and request.storeName!=''">
                    and    s.store_name  like CONCAT('%',#{request.storeName},'%')
                </if>
            </if>
        </where>
        <if test="request.sort != null and request.sort ==1">
            order by grade asc
        </if>
        <if test="request.sort != null and request.sort ==2">
            order by activity_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==3">
            order by activity_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==4">
            order by store_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==5">
            order by store_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==6">
            order by goods_card_download_count asc
        </if>
        <if test="request.sort != null and request.sort ==7">
            order by goods_card_download_count desc
        </if>
        <if test="request.sort != null and request.sort ==8">
            order by sum_count asc
        </if>
        <if test="request.sort != null and request.sort ==9">
            order by sum_count desc
        </if>
    </select>

    <select id="queryOrgSeq" resultType="java.lang.Integer">
      select  count(1) from
      t_store_download_count  where    org_seq=#{orgSeq}
    </select>

    <select id="queryStoreCardByOrgSeq" resultType="com.icss.newretail.model.WarZoneDownloadCountDTO">
      select
      uuid() as uuid , a.up_org_zone as up_org_zone, a.base_name as base_name,a.auth_code as authCode,
      org_seq as orgSeq, a.store_name as storeName
      from
        t_user_store_info  as a
        where  a.org_seq = #{orgSeq}
    </select>

    <select id="queryNewActivity" resultType="java.lang.String">
          select  uuid from  t_user_card_info   where card_type =2 and status=1 and publish_status=1
          order by create_time limit 1
    </select>


</mapper>
