<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreUseRecordMapper">

    <update id="updateStoreUseRecord" parameterType="com.icss.newretail.user.entity.StoreUseRecord">
        UPDATE t_user_store_use_record SET use_time = use_time + #{useTime},start_times = start_times + 1,update_time = NOW()
        WHERE uuid = #{uuid}
    </update>
</mapper>
