<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreParamMapper">
    <!--批量更新终端/门店配置参数-->
    <update id="saveStoreParams" parameterType="list">
      <foreach collection="list" item="storeParam" index="index" open="" close="" separator=";" >
          UPDATE t_user_store_param
          <set>
              <if test="storeParam.paramType!=null">param_type=#{storeParam.paramType},</if>
              <if test="storeParam.paramValue!=null">param_value=#{storeParam.paramValue},</if>
              <if test="storeParam.orgSeq!=null">org_seq=#{storeParam.orgSeq},</if>
              <if test="storeParam.tenantId!=null">tenant_id=#{storeParam.tenantId},</if>
              <if test="storeParam.paramTypeValueId!=null">param_type_value_id=#{storeParam.paramTypeValueId},</if>
              <if test="storeParam.createTime!=null">create_time=#{storeParam.createTime},</if>
              <if test="storeParam.createUser!=null">create_user=#{storeParam.createUser},</if>
              <if test="storeParam.updateUser!=null">update_user=#{storeParam.updateUser}</if>
          </set>
          WHERE param_id=#{storeParam.paramId}
      </foreach>
    </update>

   <!-- 删除终端/门店配置参数-->
    <delete id="deleteStoreParam" parameterType="string">
        DELETE FROM t_user_store_param
        WHERE param_id=#{paramId}
    </delete>

    <!--门店参数查询(根据门店ID)-->
    <select id="queryStoreParams" parameterType="string" resultType="com.icss.newretail.model.StoreParamDTO">
        SELECT param_type ,param_value ,org_seq ,tenant_id ,param_type_value_id ,param_id ,
                create_time ,create_user ,update_time ,update_user
        FROM t_user_store_param
        WHERE org_seq=#{storeId};
    </select>
</mapper>