<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreBonuspointMapper">
    <update id="updateStoreScore">
        update t_user_store_bonuspoint set current_score=current_score+#{currentScore},total_score=total_score+#{totalScore}
        where uuid=#{uuid}

    </update>
</mapper>
