<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.StoreMessageMapper">
    <!--系统消息查询（根据门店ID查询系统发送给终端的消息列表）-->
    <select id="receiveMessages" parameterType="com.icss.newretail.model.StoreMessageRequest" resultType="com.icss.newretail.model.UserStoreMessageDTO">
      SELECT org_seq,device_id,message_id,contents_type,pushmethod,message_title,message_contents,detailedcontents_url,send_time,
      valid_time,status,is_readed,tenant_id,create_user,create_time,update_user,update_time
      FROM  t_user_store_message
      <where>
          <if test="storeMessageRequest.storeId!=null and storeMessageRequest.storeId!=''">
              org_seq=#{storeMessageRequest.storeId}
          </if>
          <if test="storeMessageRequest.isReaded!=null and storeMessageRequest.isReaded!=-1">
              AND is_readed=#{storeMessageRequest.isReaded}
          </if>
          <if test="storeMessageRequest.contentsType!=null and storeMessageRequest.contentsType!=''">
              AND  contents_type=#{storeMessageRequest.contentsType}
          </if>
          AND tenant_id = #{tenantId}
      </where>
        ORDER BY is_readed DESC
    </select>

    <!--系统消息读取（将消息标记为已读取状态并记录读取时间）-->
    <update id="readMessage" parameterType="string">
        UPDATE t_user_store_message SET is_readed=1,update_time=NOW()
        WHERE message_id=#{messageId}
    </update>
    
    <select id="countMessages" parameterType="string" resultType="com.icss.newretail.model.UserStoreMessageCountDTO">
      SELECT org_seq,contents_type,is_readed,COUNT(message_id) messCount
      FROM t_user_store_message GROUP BY contents_type,is_readed,org_seq
      HAVING org_seq=#{storeId} AND is_readed=0 ORDER BY COUNT(message_id) ASC
    </select>
</mapper>