<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icss.newretail.user.dao.UserModuleMapper">
    <select id="getAllModules" resultType="com.icss.newretail.model.ModuleDTO">
        SELECT module_id,module_name,module_number,module_desc,
                tenant_id,create_time,create_user,update_time,update_user
        FROM t_user_module
        ORDER BY module_number ASC
    </select>

    <select id="getAppModuleRelationByAppid" parameterType="string" resultType="com.icss.newretail.model.AppModuleRelation">
        SELECT module_id,app_id,module_number,app_module_relation_id,
        tenant_id,create_time,create_user,update_time,update_user
        FROM t_user_app_module_relation
        WHERE app_id=#{appId}
    </select>

    <select id="queryModuleById" parameterType="string" resultType="com.icss.newretail.model.ModuleDTO">
        SELECT module_id,module_name,module_number,module_desc,tenant_id,create_time,create_user,update_time,update_user
        FROM t_user_module
        WHERE module_id=#{moduleId}
    </select>

    <select id="queryModules" resultType="com.icss.newretail.model.ModuleDTO">
        SELECT DISTINCT a.module_id,a.module_name,a.module_number,a.module_desc,a.tenant_id,a.create_time,a.create_user,a.update_time,a.update_user
        FROM t_user_module a
        WHERE a.module_id IN(
            SELECT e.module_id FROM t_user_info b
            INNER JOIN t_user_user_role_relation c ON b.user_id=c.user_id
            INNER JOIN t_user_role_menu_relation d ON c.role_id=d.role_id
            INNER JOIN t_user_menu e ON d.menu_id=e.menu_id
            WHERE b.user_id=#{userId} AND e.app_id=#{appId})
        ORDER BY a.module_number ASC
    </select>

    <resultMap id="moduleMap" type="map">
        <id column="module_id" property="moduleId"></id>
        <result column="module_name" property="moduleName"></result>
        <result column="module_number" property="moduleNumber"></result>
        <result column="module_desc" property="moduleDesc"></result>
        <result column="tenant_id" property="tenantId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="update_user" property="updateUser"></result>
        <collection property="menus" column="module_id" javaType="list"
                    ofType="com.icss.newretail.model.MenuDTO" select="queryMenuByModuleId"></collection>
    </resultMap>

    <!--<select id="queryModuleByAppId" resultMap="moduleMap">
      SELECT module_id, module_name, module_number, module_desc, tenant_id, create_time, create_user, update_time,
      update_user,'0' AS 'level',SUBSTR(module_id,3) AS a
      FROM t_user_module
      WHERE module_id IN
        (SELECT module_id FROM t_user_app_module_relation WHERE app_id =#{appId})
      ORDER BY a ASC ,module_number ASC
    </select>-->

    <select id="queryMenuByModuleId" parameterType="string" resultType="com.icss.newretail.model.MenuDTO">
        SELECT menu_id, app_id, app_module_relation_id, module_id, resource_req, up_resource_req, resource_level,
        resource_url, status, resource_name, resource_number, resource_logo, resource_desc, is_default_display, is_base_menu,
        is_home_page, is_privilege_control, create_user, create_time, update_user, update_time, tenant_id
        FROM t_user_menu
        WHERE module_id=#{moduleId}
        ORDER BY resource_req ASC ,resource_number ASC
    </select>
</mapper>